.custom-navbar {
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
    width: 100%;
    top: 0;
    z-index: 1000;
    position: sticky;
    height: 80px ;
    background-color: #ffff;
  }

  #dropdown-menu{
    top: 55px;
    right: -5px;
  }
  .user-icon {
    cursor: pointer;
  }
  .brand-name {
    font-weight: bolder;
  }
  .custom-navbar a {
    font-family: 'Montserrat', sans-serif;
  }
  .custom-navbar span {
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
  }
  .navbar-brand {
    font-size: 1.5em;
    padding-left: 10px;
  }
  
  .navbar-nav {
    margin-right: 10px;
  }
  
  .nav-link {
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
  }
  .navlogo {
    height: 41px;
    margin-bottom: 29px;
  }
  .dropdown-menu {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    right: 0;
    left: unset !important;
    color: black;
  }

  .dropdown-menu :hover {
    background-color: #FFE700;
  }